<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimalKR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE2B945D2BA3ED79008FD281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE2B946E2BA3ED7B008FD281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE2B94782BA3ED7B008FD281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
